## POSTTEST 4

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

# INFO DATA

In [4]:
df = pd.read_csv("players_stats_by_season_full_details.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53949 entries, 0 to 53948
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   League       53949 non-null  object
 1   Season       53949 non-null  object
 2   Stage        53949 non-null  object
 3   Player       53949 non-null  object
 4   Team         53938 non-null  object
 5   GP           53949 non-null  int64
 6   MIN          53949 non-null  float64
 7   FGM          53949 non-null  int64
 8   FGA          53949 non-null  int64
 9   3PM          53949 non-null  int64
 10  3PA          53949 non-null  int64
 11  FTM          53949 non-null  int64
 12  FTA          53949 non-null  int64
 13  TOV          53949 non-null  int64
 14  PF           53949 non-null  int64
 15  ORB          53949 non-null  int64
 16  DRB          53949 non-null  int64
 17  REB          53949 non-null  int64
 18  AST          53949 non-null  int64
 19  STL          53949 non-null  int64
 20  BLK          53949 non-null  int64
 21  PTS          53949 non-null  int64
 22  birth_year   53631 non-null  float64
 23  birth_month  53631 non-null  object
 24  birth_date   53631 non-null  object
 25  height       53875 non-null  object
 26  height_cm    53875 non-null  float64
 27  weight       49385 non-null  float64
 28  weight_kg    49385 non-null  float64
 29  nationality  53942 non-null  object
 30  high_school  23683 non-null  object
 31  draft_round  10136 non-null  float64
 32  draft_pick   10136 non-null  float64
 33  draft_team   10136 non-null  object
dtypes: float64(7), int64(16), object(11)
memory usage: 14.0+ MB

Panjang Kolom dan Atribut

In [5]:
df.shape

(53949, 34)

# Spilt Data 70:30

In [6]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train", X_train.shape)
print("Dimensi X_test", X_test.shape)
print("Dimensi y_train", y_train.shape)
print("Dimensi y_test", y_test.shape)

Dimensi X_train (37764, 33)
Dimensi X_test (16185, 33)
Dimensi y_train (37764,)
Dimensi y_test (16185,)

# Normalisasi Data

In [7]:
min_max = MinMaxScaler()
copy1 = df
dataCopy_normalization = copy1[["MIN"]]

normalization = min_max.fit_transform(dataCopy_normalization[["MIN"]])

data_normalization = pd.DataFrame(normalization)
data_normalization.columns =["MIN_normalisasi"]

dataCopy_normalization = dataCopy_normalization.join(data_normalization["MIN_normalisasi"]).reset_index()
dataCopy_normalization = dataCopy_normalization.drop("index", axis=1)

print()
print("Data Sebelum dan Sesudah dilakukan normalisasi : \n")
dataCopy_normalization.head(10)

Data Sebelum dan Sesudah dilakukan normalisasi :

      MIN  MIN_normalisasi
0  3163.0         0.907604
1  3126.0         0.896987
2  2947.0         0.845624
3  2853.0         0.818651
4  3425.0         0.982783
5  3148.0         0.903300
6  2776.0         0.796557
7  3243.0         0.930560
8  3464.0         0.993974
9  2880.0         0.826399

# Standarisasi Data

In [8]:
df_copy = df.copy()
columns_to_scale = ['MIN', 'FGM', 'FGA', '3PM', '3PA']

scaler = StandardScaler()
df_copy[columns_to_scale] = scaler.fit_transform(df_copy[columns_to_scale])

In [9]:
print("Data Sebelum Scaling:")
print(df[columns_to_scale].head())

print("\nData Sesudah Scaling:")
print(df_copy[columns_to_scale].head())

Data Sebelum Scaling:
      MIN  FGM   FGA  3PM  3PA
0  3163.0  956  1665    0    1
1  3126.0  788  1696   95  236
2  2947.0  752  1476    2    8
3  2853.0  729  1733   89  261
4  3425.0  747  1666  177  520

Data Sesudah Scaling:
        MIN       FGM       FGA       3PM       3PA
0  4.512384  8.414270  6.692832 -0.928127 -0.988434
1  4.443123  6.737006  6.838953  2.169049  1.924616
2  4.108050  6.377592  5.801966 -0.862923 -0.901662
3  3.932090  6.147967  7.013355  1.973437  2.234515
4  5.002827  6.327674  6.697545  4.842400  5.445068

# Data Clening

### Mengecek nilai null

In [10]:
df.isnull().sum()

League             0
Season             0
Stage              0
Player             0
Team              11
GP                 0
MIN                0
FGM                0
FGA                0
3PM                0
3PA                0
FTM                0
FTA                0
TOV                0
PF                 0
ORB                0
DRB                0
REB                0
AST                0
STL                0
BLK                0
PTS                0
birth_year       318
birth_month      318
birth_date       318
height            74
height_cm         74
weight          4564
weight_kg       4564
nationality        7
high_school    30266
draft_round    43813
draft_pick     43813
draft_team     43813
dtype: int64

## Data Bilangan Bulat dengan Strategi Median

In [14]:
strategi1 = SimpleImputer(strategy="median")

df['birth_year'] = strategi1.fit_transform(df[['birth_year']])

df.isna().sum()

League             0
Season             0
Stage              0
Player             0
Team              11
GP                 0
MIN                0
FGM                0
FGA                0
3PM                0
3PA                0
FTM                0
FTA                0
TOV                0
PF                 0
ORB                0
DRB                0
REB                0
AST                0
STL                0
BLK                0
PTS                0
birth_year         0
birth_month      318
birth_date       318
height            74
height_cm         74
weight          4564
weight_kg       4564
nationality        7
high_school    30266
draft_round    43813
draft_pick     43813
draft_team     43813
dtype: int64

In [15]:
print(df.birth_year[[15,100,200,300,400,500,600,700,800,900,1000]])

15      1976.0
100     1975.0
200     1966.0
300     1969.0
400     1977.0
500     1970.0
600     1981.0
700     1973.0
800     1972.0
900     1974.0
1000    1981.0
Name: birth_year, dtype: float64

## Data Bilangan Desimal dengan Strategi Mean

In [16]:
strategi2 = SimpleImputer(strategy="mean")

df["draft_round"] = strategi2.fit_transform(df[["draft_round"]])

df.isna().sum()

League             0
Season             0
Stage              0
Player             0
Team              11
GP                 0
MIN                0
FGM                0
FGA                0
3PM                0
3PA                0
FTM                0
FTA                0
TOV                0
PF                 0
ORB                0
DRB                0
REB                0
AST                0
STL                0
BLK                0
PTS                0
birth_year         0
birth_month      318
birth_date       318
height            74
height_cm         74
weight          4564
weight_kg       4564
nationality        7
high_school    30266
draft_round        0
draft_pick     43813
draft_team     43813
dtype: int64

In [17]:
print(df.draft_round[[15,100,200,300,400,500,600,700,800,900,1000]])

15      1.00000
100     1.00000
200     1.00000
300     1.00000
400     2.00000
500     1.38753
600     1.00000
700     1.00000
800     1.38753
900     1.38753
1000    1.00000
Name: draft_round, dtype: float64

## Karena Data tidak ada yang bernilai null maka dibuat diSeason

In [40]:
pd.options.mode.chained_assignment = None

df.Season[[15,100,200,300,400,500,600,700,800,900,1000]]=None;

df[df.isnull().any(axis=1)]

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,birth_date,height,height_cm,weight,weight_kg,nationality,high_school,draft_round,draft_pick,draft_team
15,NBA,None,Regular_Season,Shareef Abdur-Rahim,VAN,82,3223.0,594,1277,29,...,"Dec 11, 1976",6-9,206.0,225.0,102.0,United States,Joseph Wheeler High School,1.00000,3.0,Vancouver Grizzlies
30,NBA,1999 - 2000,Regular_Season,Dirk Nowitzki,DAL,82,2938.0,515,1118,116,...,"Jun 19, 1978",7-0,213.0,245.0,111.0,Germany,NaN,1.00000,9.0,Milwaukee Bucks
34,NBA,1999 - 2000,Regular_Season,Darrell Armstrong,ORL,82,2590.0,484,1119,137,...,"Jun 22, 1968",6-0,183.0,170.0,77.0,United States,Ashbrook High School,1.38753,NaN,NaN
55,NBA,1999 - 2000,Regular_Season,David Wesley,CHA,82,2760.0,407,955,88,...,"Nov 14, 1970",6-0,183.0,190.0,86.0,United States,Longview High School,1.38753,NaN,NaN
65,NBA,1999 - 2000,Regular_Season,Vlade Divac,SAC,82,2374.0,384,764,7,...,"Feb 3, 1968",7-1,216.0,260.0,118.0,Serbia,NaN,1.00000,26.0,Los Angeles Lakers
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53944,Ukrainian-Superleague,2019 - 2020,International,Kyrylo Meshheryakov,MYK,15,127.0,7,28,2,...,"Aug 17, 1995",6-6,198.0,182.0,83.0,Ukraine,NaN,1.38753,NaN,NaN
53945,Ukrainian-Superleague,2019 - 2020,International,Yaroslav Kadygrob,ODE,10,81.7,5,16,4,...,"Oct 28, 1991",6-3,191.0,187.0,85.0,Ukraine,NaN,1.38753,NaN,NaN
53946,Ukrainian-Superleague,2019 - 2020,International,Ernesto Tkachuk,ODE,16,124.7,1,15,0,...,"Sep 17, 1994",6-2,188.0,200.0,91.0,Ukraine,NaN,1.38753,NaN,NaN
53947,Ukrainian-Superleague,2019 - 2020,International,Andrij Shapovalov,KHAR,12,59.2,0,8,0,...,"Nov 10, 1993",6-2,188.0,171.0,78.0,Ukraine,NaN,1.38753,NaN,NaN
53948,Ukrainian-Superleague,2019 - 2020,International,Dmitriy Lypovtsev,KHAR,5,86.3,1,13,0,...,"Oct 10, 1986",6-8,203.0,220.0,100.0,Ukraine,NaN,1.38753,NaN,NaN

In [29]:
strategi3 = SimpleImputer(missing_values=None, strategy="most_frequent")

df["Season"] = strategi3.fit_transform(df[["Season"]])

df.isna().sum()

League             0
Season             0
Stage              0
Player             0
Team              11
GP                 0
MIN                0
FGM                0
FGA                0
3PM                0
3PA                0
FTM                0
FTA                0
TOV                0
PF                 0
ORB                0
DRB                0
REB                0
AST                0
STL                0
BLK                0
PTS                0
birth_year         0
birth_month      318
birth_date       318
height            74
height_cm         74
weight          4564
weight_kg       4564
nationality        7
high_school    30266
draft_round        0
draft_pick     43813
draft_team     43813
dtype: int64

In [30]:
print(df.Season[[15,100,200,300,400,500,600,700,800,900,1000]])

15      2019 - 2020
100     2019 - 2020
200     2019 - 2020
300     2019 - 2020
400     2019 - 2020
500     2019 - 2020
600     2019 - 2020
700     2019 - 2020
800     2019 - 2020
900     2019 - 2020
1000    2019 - 2020
Name: Season, dtype: object

## Data Cleaning dengan nilai Duplikat

In [31]:
df[df.duplicated()]

print("Jumlah Data Duplikat : ")
df.duplicated().sum()

Jumlah Data Duplikat :

0

## Karena data duplikatnya 0 maka dibuatlah data duplikatnya

In [33]:
make_duplicated = pd.concat([df]*2, ignore_index=True)
make_duplicated.duplicated()

print("Jumlah data duplicated sekarang :")
make_duplicated.duplicated().sum()

Jumlah data duplicated sekarang :

53949

In [34]:
df.drop_duplicates(inplace=True)

hasil = df.reset_index(drop=True)
print("Jumlah data duplicated setelah di drop :")
hasil.duplicated().sum()

Jumlah data duplicated setelah di drop :

0

# Mengganti tipe data salah satu attribute angka

* Mengganti tipe data TOV yang sebelumnya int menjadi float

In [35]:
print("Tipe data TOV Sebelum di ubah :")
df.dtypes

Tipe data TOV Sebelum di ubah :

League          object
Season          object
Stage           object
Player          object
Team            object
GP               int64
MIN            float64
FGM              int64
FGA              int64
3PM              int64
3PA              int64
FTM              int64
FTA              int64
TOV              int64
PF               int64
ORB              int64
DRB              int64
REB              int64
AST              int64
STL              int64
BLK              int64
PTS              int64
birth_year     float64
birth_month     object
birth_date      object
height          object
height_cm      float64
weight         float64
weight_kg      float64
nationality     object
high_school     object
draft_round    float64
draft_pick     float64
draft_team      object
dtype: object

In [36]:
df['TOV'] = df['TOV'].astype('float64')

print("Tipe data TOV sesudah di ubah :")
df.dtypes

Tipe data TOV sesudah di ubah :

League          object
Season          object
Stage           object
Player          object
Team            object
GP               int64
MIN            float64
FGM              int64
FGA              int64
3PM              int64
3PA              int64
FTM              int64
FTA              int64
TOV            float64
PF               int64
ORB              int64
DRB              int64
REB              int64
AST              int64
STL              int64
BLK              int64
PTS              int64
birth_year     float64
birth_month     object
birth_date      object
height          object
height_cm      float64
weight         float64
weight_kg      float64
nationality     object
high_school     object
draft_round    float64
draft_pick     float64
draft_team      object
dtype: object

# One-Hot Encoding

In [37]:
one_encoder = OneHotEncoder(sparse=False)

onehot = one_encoder.fit_transform(df[["Player"]])
df_onehot = pd.DataFrame(onehot)
df_encoder = df.join(df_onehot)
df_encoder.head()

/Users/onnyfahrony/Auzan_127/Auzan_127/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,League,Season,Stage,Player,Team,GP,MIN,FGM,FGA,3PM,...,14572,14573,14574,14575,14576,14577,14578,14579,14580,14581
0,NBA,1999 - 2000,Regular_Season,Shaquille O'Neal,LAL,79,3163.0,956,1665,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NBA,1999 - 2000,Regular_Season,Vince Carter,TOR,82,3126.0,788,1696,95,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NBA,1999 - 2000,Regular_Season,Karl Malone,UTA,82,2947.0,752,1476,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NBA,1999 - 2000,Regular_Season,Allen Iverson,PHI,70,2853.0,729,1733,89,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NBA,1999 - 2000,Regular_Season,Gary Payton,SEA,82,3425.0,747,1666,177,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0